<div class="wrapper">

  <div class="main-content" >
    <div class="slide-container">
      <h2>Slides</h2>
    
      <div
        id="slides"
        cdkDropList
        [cdkDropListData]="slides"
        cdkDropListConnectedTo="play-area"
        class="slide-list"
        (cdkDropListDropped)="drop($event)">
        <div
          class="slide-box"
          *ngFor="let slide of slides"
          [ngStyle]="{'background-color' : slide.color}"
          [cdkDragData]="slide"
          cdkDrag>
        <div
          #item
          cdkDropList
          [id]="slide.color"
          [cdkDropListData]="slide.overlay"
          (cdkDropListDropped)="drop($event)"
          
          >
          <p *ngFor="let overlay of slide.overlay">{{overlay.image}}</p>
        </div>
        </div>
      </div>
    </div>

    <div class="play-area-container">    
      <div
        id="play-area"
        cdkDropList
        [cdkDropListData]="playArea"
        cdkDropListConnectedTo="slides"
        class="play-list"
        (cdkDropListDropped)="drop($event)"
        >
        <div
          class="play-box"
          *ngFor="let play of playArea"
          [ngStyle]="{'background-color' : play.color}"
          [cdkDragData]="play"
          cdkDrag></div>
      </div>
    </div>
    
    
    <div class="sketch-container">
      <h2>Sketches</h2>
    
      <div
        id="sketch"
        cdkDropList
        [cdkDropListData]="sketches"
        [cdkDropListConnectedTo]="addedSlides"
        class="sketch-list"
        (cdkDropListDropped)="drop($event)">

        <div
          *ngFor="let sketch of sketches"
          cdkDrag
          [cdkDragData]="sketch">
          <p>{{sketch.image}}</p>
          
          <!-- <img 
            class="sketch-box"
            [src]="'assets/' + sketch.image"> -->
        </div>

      </div>
    </div>
  </div>

</div>




